<%- include('../partials/header') %>

    <section>
        <div>Airport: </div>
        <div>
            <%= flight.airport%>
        </div>
        <div>Airline: </div>
        <div>
            <%= flight.airline %>
        </div>
        <div>Flight Number: </div>
        <div>
            <%= flight.flightNo%>
        </div>
        <div>Departure Date: </div>
        <div>
            <%= flight.departs%>
        </div>




    </section>